/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: fixed;
   margin-top: 250px;
  margin-left: 550px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,

.info_box{
  top: 320px;
  margin-left: 590px;
  margin-top: -40px;
  width: 1135px;
  height: 460px;
  border-radius: 31.345px;
  background: #D9D9D9;
    transform: translate(-50%, -50%) scale(0.9);

    transition: all 0.3s ease;
}

.info_box .info-title{
  margin-left: 40px;
  margin-top: 20px;
    color: #000;
    font-family: 'Poppins', sans-serif;
font-size: 48.566px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.428px;
}



.infoIntro{
    margin-left: 3%;
    margin-top: 3%;
    width: 1020px;
    color: #000;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
}
.lisaimage{
    position:fixed;
    margin-top: 13%;
    margin-left: 84%;
    width: 186px;
height: 186px;
    background: url(../assests/img/lisa.png), no-repeat;
}
.buttons button.restart{
    position:fixed;
    height: 50px;
    width: 140px;
    font-size: 16px;
    font-weight: 30px;
    cursor: pointer;
    top: 105%;
left: 85%;
    border-radius: 5px;
    transition: all 0.8s ease;
    color: #fff;
    background: #585858;
}

.buttons button.restart:hover{
    background: #02caca;
}

.buttons button.quit{

    background: #fff;
}

