/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: fixed;
   margin-top: 250px;
  margin-left: 550px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    top: 320px;
    margin-left: 590px;
    margin-top: -40px;
    width: 1135px;
    height: 460px;
    border-radius: 31.345px;
    background: #D9D9D9;
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}


.result_box.activeResult{
    top: 320px;
    margin-left: 590px;
    margin-top: -40px;
    width: 1135px;
    height: 460px;
    border-radius: 31.345px;
    background: #D9D9D9;
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}


.result_box.activeResult{
    top: 320px;
    margin-left: 590px;
    margin-top: -40px;
    width: 1135px;
    height: 460px;
    border-radius: 31.345px;
    background: #D9D9D9;
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
   top: 200px;
  margin-top: -40px;
    width: 540px;
    height: 300px;
    background: #fff;
    border-radius: 5px;

    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 40px 30px;
    cursor: pointer;
}

.info_box{
  top: 320px;
  margin-left: 590px;
  margin-top: -40px;
  width: 1135px;
  height: 460px;
  border-radius: 31.345px;
  background: #D9D9D9;
    transform: translate(-50%, -50%) scale(0.9);

    transition: all 0.3s ease;
}

.info_box .info-title{
  margin-left: 40px;
  margin-top: 40px;
    color: #000;
    font-family: 'Poppins', sans-serif;
font-size: 48.566px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.428px;
}

.infoone{
    margin-top: 40px;
    margin-left: 40px;
    width: 1085px;
    color: #000;
font-family: League Spartan;
font-size: 24px;
font-style: bold;
font-weight: 400;

}

.lisaimage{
    margin-left:900px ;
    margin-top:10px;
    width: 186px;
height: 186px;
flex-shrink: 0;
    background: url(../img/lisa.png), no-repeat;
}
.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    position: absolute;
    height: 10px;
    margin-top: 10px;
    margin-left:880px ;

}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.quiz_box{
    border-radius: 31.345px;
background: #D9D9D9;
    top: 284px;
    margin-left: 590px;
    margin-top: -40px;
    width: 1025px;
    height: 340px;
 
    transform: translate(-50%, -50%) scale(0.9);
   
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 31.345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




section{
    height: 440px;
    padding: 25px 30px 20px 30px;
    background:#D9D9D9;
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    margin-top: 190px;
    height: 20px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    margin-top: 190px;
    margin-left: 1050px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #031e3a;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.next_btn{
    position: relative;
    margin-top: -315px;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 590px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #585858;
}

.buttons button.restart:hover{
    background: #02caca;
}

.buttons button.quit{

    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}